In [2]:
import numpy as np
import pandas as pd

In [7]:
data = pd.read_csv('./bank-additional.csv',sep=',""')
data

/var/folders/db/q45d2_5d0c52zkvrdw9tp0xm0000gn/T/ipykernel_97553/2435851106.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data = pd.read_csv('./bank-additional.csv',sep=',""')

,"""age","job""""","marital""""","education""""","default""""","housing""""","loan""""","contact""""","month""""","day_of_week""""",...,"campaign""""","pdays""""","previous""""","poutcome""""","emp.var.rate""""","cons.price.idx""""","cons.conf.idx""""","euribor3m""""","nr.employed""""","y"""""""
0,"""30","blue-collar""""","married""""","basic.9y""""","no""""","yes""""","no""""","cellular""""","may""""","fri"""",487,2,999,0",...,"no""""""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"""39","services""""","single""""","high.school""""","no""""","no""""","no""""","telephone""""","may""""","fri"""",346,4,999,0",...,"no""""""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"""25","services""""","married""""","high.school""""","no""""","yes""""","no""""","telephone""""","jun""""","wed"""",227,1,999,0",...,"no""""""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"""38","services""""","married""""","basic.9y""""","no""""","unknown""""","unknown""""","telephone""""","jun""""","fri"""",17,3,999,0",...,"no""""""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"""47","admin.""""","married""""","university.degree""""","no""""","yes""""","no""""","cellular""""","nov""""","mon"""",58,1,999,0",...,"no""""""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,"""30","admin.""""","married""""","basic.6y""""","no""""","yes""""","yes""""","cellular""""","jul""""","thu"""",53,1,999,0",...,"no""""""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4115,"""39","admin.""""","married""""","high.school""""","no""""","yes""""","no""""","telephone""""","jul""""","fri"""",219,1,999,0",...,"no""""""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4116,"""27","student""""","single""""","high.school""""","no""""","no""""","no""""","cellular""""","may""""","mon"""",64,2,999,1",...,"no""""""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4117,"""58","admin.""""","married""""","high.school""""","no""""","no""""","no""""","cellular""""","aug""""","fri"""",528,1,999,0",...,"no""""""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4118,"""34","management""""","single""""","high.school""""","no""""","yes""""","no""""","cellular""""","nov""""","wed"""",175,1,999,0",...,"no""""""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
data[data.columns] = data[data.columns].replace({'"':''}, regex=True)
data

,"""age","job""""","marital""""","education""""","default""""","housing""""","loan""""","contact""""","month""""","day_of_week""""",...,"campaign""""","pdays""""","previous""""","poutcome""""","emp.var.rate""""","cons.price.idx""""","cons.conf.idx""""","euribor3m""""","nr.employed""""","y"""""""
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,"fri,487,2,999,0",...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,39,services,single,high.school,no,no,no,telephone,may,"fri,346,4,999,0",...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25,services,married,high.school,no,yes,no,telephone,jun,"wed,227,1,999,0",...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,"fri,17,3,999,0",...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,"mon,58,1,999,0",...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,30,admin.,married,basic.6y,no,yes,yes,cellular,jul,"thu,53,1,999,0",...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4115,39,admin.,married,high.school,no,yes,no,telephone,jul,"fri,219,1,999,0",...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4116,27,student,single,high.school,no,no,no,cellular,may,"mon,64,2,999,1",...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4117,58,admin.,married,high.school,no,no,no,cellular,aug,"fri,528,1,999,0",...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4118,34,management,single,high.school,no,yes,no,cellular,nov,"wed,175,1,999,0",...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
data.columns = data.columns.str.replace('"','')
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,"fri,487,2,999,0",...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,39,services,single,high.school,no,no,no,telephone,may,"fri,346,4,999,0",...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25,services,married,high.school,no,yes,no,telephone,jun,"wed,227,1,999,0",...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,"fri,17,3,999,0",...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,"mon,58,1,999,0",...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,30,admin.,married,basic.6y,no,yes,yes,cellular,jul,"thu,53,1,999,0",...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4115,39,admin.,married,high.school,no,yes,no,telephone,jul,"fri,219,1,999,0",...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4116,27,student,single,high.school,no,no,no,cellular,may,"mon,64,2,999,1",...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4117,58,admin.,married,high.school,no,no,no,cellular,aug,"fri,528,1,999,0",...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4118,34,management,single,high.school,no,yes,no,cellular,nov,"wed,175,1,999,0",...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
attribute = data.loc[:, data.columns.intersection(['age','job','marital','education','housing','loan'])]
attribute

     age          job  marital          education  housing     loan
0     30  blue-collar  married           basic.9y      yes       no
1     39     services   single        high.school       no       no
2     25     services  married        high.school      yes       no
3     38     services  married           basic.9y  unknown  unknown
4     47       admin.  married  university.degree      yes       no
...   ..          ...      ...                ...      ...      ...
4114  30       admin.  married           basic.6y      yes      yes
4115  39       admin.  married        high.school      yes       no
4116  27      student   single        high.school       no       no
4117  58       admin.  married        high.school       no       no
4118  34   management   single        high.school      yes       no

[4119 rows x 6 columns]

In [35]:
eduSeries = attribute.loc[:, 'education']
eduSeries.drop_duplicates(keep='first',inplace=False)

0                  basic.9y
1               high.school
4         university.degree
8       professional.course
10                 basic.6y
11                 basic.4y
28                  unknown
3926             illiterate
Name: education, dtype: object

In [36]:
jobSeries = attribute.loc[:,'job']
jobSeries.drop_duplicates(keep='first',inplace=False)

0        blue-collar
1           services
4             admin.
7       entrepreneur
11     self-employed
21        technician
23        management
39           student
42           retired
44         housemaid
78        unemployed
148          unknown
Name: job, dtype: object

CHANGE TO NUMERICAL